<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>adoptList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
        /* 폰트 적용 */
        body {
            font-family: 'Dongle', sans-serif;
            font-size: 30px;
        }

    </style>
</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div class="container input-group" style="margin-top: 50px; margin-left: auto; margin-right: auto;">

    <img th:src="@{|/upload/${product.storedFileName}}" alt="" style="margin-right: 20px">
            <table class="">
                <tr>
                    <th>상품명:</th>
                    <td th:text="${product.productName}"></td>
                </tr>
                <tr>
                    <th>내용:</th>
                    <td th:text="${product.productContents}"></td>
                </tr>
                <tr>
                    <th>가격:</th>
                    <td th:text="${product.productPrice+'원'}"></td>
                </tr>
                <tr>
                    <th>조회수:</th>
                    <td th:text="${product.productHits}"></td>
                </tr>
                <tr>
                    <th>결제하기:</th>
                    <td><a href="#" class="btn btn-warning">결제</a></td>
                </tr>
            </table>

</div>



<div class="container mt-5" style="margin-top: 500px">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양소식</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양신청</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">분양등록</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">임시보호 소식</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">친구를 찾아요</a></li>
        </ul>
        <p class="text-center text-muted">2022 JinSeok Project </p>
    </footer>
</div>

</body>

</script>
</html>