<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
    <link rel="stylesheet" th:href="@{/css/my_radius.css}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
        /* 폰트 적용 */
        body {
            font-family: 'Dongle', sans-serif;
            font-size: 30px;
        }
        #paging-list {
            width: 800px;
            margin-top: 50px;
        }

        h3 {
            width: 250px;
        }

    </style>

</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div th:if="${session.loginEmail == 'admin'}">
    <a href="/productSave" class="btn btn-dark">관리자 상품등록</a>
</div>

<!--조회수 순-->
<div class="container" style="margin-left: auto;margin-right: auto; margin-top: 100px;">
    <h2><strong>Best Hits 3</strong></h2>
    <ul style="list-style: none; margin-bottom: 500px" th:if="${productHitsList != null}">
        <li th:each="productHits:${productHitsList}" style="margin-left: 100px; float: left;">
            <a th:href="@{|/productDetail/${productHits.id}/${session.loginEmail}|}"><img th:src="@{|/upload/${productHits.storedFileName}}" width="250px" height="280px" style="margin-left: auto;margin-right: auto; border-radius: 50%;" alt="사진이 없어요!"></a>
            <h2 th:text="'상품명:'+' '+${productHits.productName}"></h2>
            <h5 th:text="'조회수:'+${productHits.productHits}"></h5>
        </li>
    </ul>
    <ul style="list-style: none; margin-bottom: 500px" th:if="${productHitsList == null}">
        <li><h2>조회 할 상품이 없습니다.</h2></li>
    </ul>
</div>


    <div class="container" style="margin-left: auto;margin-right: auto; margin-top: 100px">
        <h2><strong>products</strong></h2>
        <ul style="list-style: none;">
            <li th:each="product:${productList}" style="margin-left: 100px; float: left; height: 500px">
                <a th:href="@{|/productDetail/${product.id}/${session.loginEmail}|}"><img th:src="@{|/upload/${product.storedFileName}}" width="250px" height="280px" style="margin-left: auto;margin-right: auto; border-radius: 50%;" alt="사진이 없어요!"></a>
                <h2 th:text="'상품명:'+' '+${product.productName}"></h2>
                <h3 th:text="'설명:'+${product.productContents}" ></h3>
                <h4 th:text="'가격:'+${product.productPrice}+'원'"></h4>
                <h5 th:text="'조회수:'+${product.productHits}"></h5>
            </li>
        </ul>
       </div>


        <div class="container" id="paging-list" >
    <div class="container" >
        <ul class="pagination justify-content-center" style="margin-top: 550px">
            <li class="page-item">
                <!--첫페이지 요청 링크-->
                <a class="page-link text-black" th:href="@{/product(page=1)}">
                    <span>First</span>
                </a>
            </li>

            <li th:class="${productList.first} ? 'disabled'" class="page-item">
                <!--boardList.first: isFirst()
                    boardList.number: getNumber()-->
                <a class="page-link text-black" th:href="${productList.first} ? '#' : @{/product(page=${productList.number})}">
                    <span><</span> <!-- < -->
                </a>
            </li>

            <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할 -->
            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                th:class="${page == productList.number + 1} ? 'page-item active'" class="page-item">
                <a class="page-link text-black" th:text="${page}" th:href="@{/product(page=${page})}"></a>
            </li>

            <!-- 다음 페이지 요청
                현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
                getNumber() 값은 2임.
                따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
            <li th:class="${productList.last} ? 'disabled'">
                <a class="page-link text-black" th:href="${productList.last} ? '#' : @{/product(page=${productList.number + 2})}">
                    <span>&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link text-black" th:href="@{/product(page=${productList.totalPages})}">
                    <span>Last</span>
                </a>
            </li>
        </ul>
    </div>
            <div class="container mt-5" style="margin-top: 500px" >
                <footer class="py-3 my-4">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양소식</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양신청</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">분양등록</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">임시보호 소식</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">친구를 찾아요</a></li>
                    </ul>
                    <p class="text-center text-muted">2022 JinSeok Project </p>
                </footer>
            </div>
        </div>
</body>
</html>