<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
        /* 폰트 적용 */
        body {
            font-family: 'Dongle', sans-serif;
            font-size: 30px;
        }
        ul li{
            list-style: none;
            float: left;
            margin-left: 100px;
        }
        h3 {
            width: 300px;
        }
    </style>
</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div class="container" style="margin-left: auto;margin-right: auto; margin-top: 50px">
    <div th:if="${session.loginEmail == 'admin'}">
    <a href="/productSave" class="btn btn-dark">관리자 상품등록</a>
    </div>
    <h1><strong>MainProducts</strong></h1>
<ul>
    <li th:each="product:${productList}">
        <img th:src="@{|/upload/${product.storedFileName}}" width="220px" height="280px" style="margin-left: auto;margin-right: auto;" alt="사진이 없어요!">
        <h2 th:text="'상품명:'+' '+${product.productName}"></h2>
        <h3 th:text="'설명:'+${product.productContents}" ></h3>
        <h4 th:text="'가격:'+${product.productPrice}+'원'"></h4>
        <h5 th:text="'조회수:'+${product.productHits}"></h5>
    </li>
</ul>
</div>
</body>
</html>