<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
  <script th:src="@{/js/jqurey.js}"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
    /* 폰트 적용 */
    body {
      font-family: 'Dongle', sans-serif;
      font-size: 30px;

    }
  </style>
</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div class="container mt-5">
  <h2 style="text-align: center">잔액이 부족합니다.<br> 포인트를 충전 후 <br> 다시  <br> 결제 부탁드립니다. </h2>
    <a href="/moneyCharging" class="btn btn-warning">충전하기</a>
</div>
<div style="background-color: #d1f6a7">
  <div class="container" >
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양소식</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양신청</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">분양등록</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">임시보호 소식</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">친구를 찾아요</a></li>
      </ul>
      <p class="text-center text-muted">2022 JinSeok Project </p>
    </footer>
  </div>
</div>
</body>
</html>