<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>adoptList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
    <link rel="stylesheet" th:href="@{/css/my_radius.css}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
        /* 폰트 적용 */
        body {
            font-family: 'Dongle', sans-serif;
            font-size: 30px;
        }

    </style>
</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div class="container mt-5">
    <h2 style="text-align: center"><strong>분양 글 입니다!<br></strong></h2>
    <h2 style="text-align: center">분양 신청을 <br> 진행해 보세요!</h2>
</div>
<div class="container mt-5" style="margin-top: 100px; margin-bottom: 100px" >
<table class="table table-hover" style="width: 1500px; margin-left: auto; margin-right: auto;">
    <tr>
        <th>글번호:</th>
        <td th:text="${adopt.id}" id="adoptId"> </td>
    </tr>
    <tr>
        <th>작성자(보호자):</th>
        <td th:text="${adopt.adoptWriter}"></td>
    </tr>
    <tr>
        <th>강아지 이름:</th>
        <td th:text="${adopt.adoptName}"></td>
    </tr>
    <tr>
        <th>강아지 종:</th>
        <td th:text="${adopt.adoptSpecies}"></td>
    </tr>
    <tr>
        <th>강아지 나이:</th>
        <td th:text="${adopt.adoptAge}"></td>
    </tr>
    <tr>
        <th>강아지 사진</th>
        <td th:each="fileName:${adopt.storedFileName}">
            <img th:src="@{|/upload/${fileName}}" alt="등록한 사진이 없어요!" style="border-radius: 50%;" width="200px" height="200px">
        </td>
    </tr>
    <tr>
        <th>제목:</th>
        <td th:text="${adopt.adoptTitle}"></td>
    </tr>
    <tr>
        <th>내용:</th>
        <td th:text="${adopt.adoptContents}"></td>
    </tr>
    <tr>
        <th>분양지역:</th>
        <td th:text="${adopt.adoptArea}"></td>
    </tr>
    <tr>
        <th>제목:</th>
        <td th:text="${adopt.adoptTitle}"></td>
    </tr>
    <tr>
        <th>작성시간:</th>
        <td th:text="*{#temporals.format(adopt.adoptSaveTime, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></td>
    </tr>
    <div th:if="${adopt.adoptWriter == session.loginEmail}">
    <tr>
            <th>글 수정하기</th>
            <td><button class="btn btn-warning">수정</button></td>
    </tr>
    <tr>
         <th>글 삭제하기</th>
          <td><button class="btn btn-danger">삭제</button></td>
    </tr>
    </div>
    <div th:if="${adopt.adoptWriter != session.loginEmail}">
    <tr>
        <th>입양 신청하기!</th>
        <td><a th:href="@{|/adoptApplySave/${adopt.id}/${session.loginEmail}|}" class="btn btn-warning">신청</a></td>
    </tr>
    </div>
</table>
</div>
<!--댓글 -->

<h2 style="text-align: center">댓글</h2>
<div>
<div class="container mt-5 mb-5" >
    <div>
        <div class="form-control input-group">
            <label for="commentWriter" style="margin-right: 5px"> 작성자</label>
            <input type="text" id="commentWriter" class="form-control" placeholder="작성자" th:value="${session.loginEmail}" readonly style="width: 60px;margin-right: 5px">
            <label for="commentContents" style="margin-right: 5px">내용</label>
            <input type="text" id="commentContents" class="form-control" placeholder="내용" style="width: 250px;">
            <button id="comment-write-btn" onclick="commentWrite()" class="btn btn-success" style="margin-left: 5px">댓글작성</button>
        </div>
    </div>
</div>
<div class="container" id="commentArea">
        <div th:if="${commentList == 'empty'}">
            <p>작성된 댓글이 없습니다.</p>
        </div>
        <div th:unless="${commentList == 'empty'}">
            <table class="table">
                <tr>
                    <th>댓글번호</th>
                    <th>작성자</th>
                    <th>내용</th>
<!--                    <th>작성시간</th>-->
                </tr>
                <tr th:each="comment : ${commentList}">
                    <td th:text="${comment.id}"></td>
                    <td th:text="${comment.commentWriter}"></td>
                    <td th:text="${comment.commentContents}"></td>
<!--                    <td th:text="*{#temporals.format(comment.commentSaveTime, 'yyyy년 MM월 dd일')}"></td>-->
                </tr>
            </table>
        </div>
</div>
</div>
<div class="container mt-5 mb-5">
    <a href="/adopt" style="text-align: center" class="btn btn-dark text-white">돌아가기!</a>
</div>
<div class="container mt-5" style="margin-top: 500px" >
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양소식</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양신청</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">분양등록</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">임시보호 소식</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">친구를 찾아요</a></li>
        </ul>
        <p class="text-center text-muted">2022 JinSeok Project </p>
    </footer>
</div>
</div>
</body>
<script th:inline="javascript">
 const commentWrite=()=>{
     const commentWriter = document.getElementById("commentWriter").value;
     const commentContents =document.getElementById("commentContents").value;
     const adoptId =[[${adopt.id}]]
     $.ajax({
         type:"post",
         url:"/commentSave",
         data:{
             commentWriter:commentWriter,
             commentContents:commentContents,
             adoptId : adoptId
         },
         dateType: "json",
         success: function (commentList) {
             let output = "<table class='table'>";
             output += "<tr><th>댓글번호</th>";
             output += "<th>작성자</th>";
             output += "<th>내용</th></tr>";
             // output += "<th>작성시간</th></tr>";
// output += "<th>삭제</th></tr>";
             for(let i in commentList){
                 output += "<tr>";
                 output += "<td>"+commentList[i].id+"</td>";
                 output += "<td>"+commentList[i].commentWriter+"</td>";
                 output += "<td>"+commentList[i].commentContents+"</td>";
                 // output += "<td>"+commentList[i].commentSaveTime+"</td>";
                 // output += "<td><button class='btn btn-danger' >삭제</button></td>";
                 output += "</tr>";
             }
             output += "</table>";
             document.getElementById('commentArea').innerHTML = output;
             document.getElementById('commentWriter').value='';
             document.getElementById('commentContents').value='';

         },
         error: function (ck) {

         }
     })
 }
</script>
</html>