<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
  <script th:src="@{/js/jqurey.js}"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
    /* 폰트 적용 */
    body {
      font-family: 'Dongle', sans-serif;
      font-size: 30px;
    }
    #memberSaveForm{
        margin-left: auto;
        margin-right: auto;
        font-size:30px;
        width: 800px;
    }
  </style>
</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div class="container mt-5">
    <h2 style="text-align: center">안녕하세요? 반갑습니다. <br> Hi My Buddy에서 <br> 좋은 인연을 <br> 만들고,만들수 있기를 바랍니다. <br> - 관리자 일동</h2>
    <div class="container">
        <form action="/memberSave" method="post" class="form-control mt-5" id="memberSaveForm" name="memberSaveForm" >
            이메일:
            <input type="text" class="form-control mb-3" name="memberEmail" id="email" onblur="emailCk()">
            <span id="emailBox"></span>
            <br>
            비밀번호:
            <input type="text" class="form-control mb-3" name="memberPass" id="pass">
            <span id="passBox"></span>
            <br>
            비밀번호 재확인:
            <input type="text" class="form-control mb-3" id="ckPass" onblur="passCk()">
            <span id="ckPassBox"></span>
            <br>
            성함:
            <input type="text" class="form-control mb-3" name="memberName" id="name" onblur="nameCk()">
            <span id="nameBox"></span>
            <br>
            성별:
            <select name="memberGender" id="gender"  class="form-select mb-3" >
                <option value="선택">선택</option>
                <option value="여성">여성</option>
                <option value="남성">남성</option>
            </select> <br>
            지역:
            <select name="memberArea" id="area"  class="form-select mb-3">
                <option value="선택">선택</option>
                <option value="인천">인천</option>
                <option value="서울">서울</option>
                <option value="경기">경기</option>
            </select> <br>
            나이:
            <input type="text" class="form-control mb-3" name="memberAge" id="age" onblur="ageCk()">
            <span id="ageBox"></span>
            <br>
            연락처:
            <input type="text" class="form-control mb-3" name="memberPhone" id="phone" onblur="phoneCk()">
            <span id="phoneBox"></span>
            <br>
            회원가입 목적:
            <select name="memberPurpose" id="purpose" class="form-select mb-3"  >
                <option value="선택">선택</option>
                <option value="아직없어요">아직없어요</option>
                <option value="입양">입양</option>
                <option value="분양">분양</option>
                <option value="임시보호">임시보호</option>
                <option value="반려견분실">반려견분실</option>
            </select> <br>
            <input type="button" class="btn btn-success mt-4" onclick="memberSave()" value="회원가입!">
        </form>
    </div>
</div>
<!--풋터-->
<div style="background-color: #d1f6a7">
    <div class="container" >
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양소식</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양신청</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">분양등록</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">임시보호 소식</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">친구를 찾아요</a></li>
            </ul>
            <p class="text-center text-muted">2022 JinSeok Project </p>
        </footer>
    </div>
</div>
</body>
<script>
    //이메일체크
    const emailCk = () => {
        const email = document.getElementById("email").value;
        const emailBox = document.getElementById("emailBox");
        if(email==""){
            emailBox.innerHTML="필수값입니다."
            emailBox.style.color="red"
        }else{
        $.ajax({
            type: "post",
            url: "/memberEmailCk",
            data: {
                memberEmail: email
            },
            dateType: "text",
            success: function (ck) {
                if (ck == "no") {
                    emailBox.innerHTML="이메일 중복입니다."
                    emailBox.style.color="red";
                }else if(ck=="yes"){
                    emailBox.innerHTML="멋진 이메일이네요!"
                    emailBox.style.color="green";
                }
            },
            error: function (ck) {

            }
        })
    }
    }
    // 비밀번호 체크
    const passCk= () => {
        const pass = document.getElementById("pass").value;
        const ckPass = document.getElementById("ckPass").value;
        const ckPassBox = document.getElementById("ckPassBox");
        if(pass!=ckPass){
            ckPassBox.innerHTML="비밀번호가 맞지 않습니다."
            ckPassBox.style.color="red";
        }else if(pass==""){
            ckPassBox.innerHTML="비밀번호는 필수값입니다."
            ckPassBox.style.color="red";
        }else{
            ckPassBox.innerHTML="확인되었습니다."
            ckPassBox.style.color="green";
        }
    }

    //이름체크
    const nameCk = () => {
        const name = document.getElementById("name").value;
        const nameBox = document.getElementById("nameBox");
        if(name==""){
            nameBox.innerHTML="성함은 필수값입니다."
            nameBox.style.color="red";
        }else{
            nameBox.innerHTML="멋진 이름이네요!"
            nameBox.style.color="green";
        }
    }

    //나이체크
    const ageCk = ()=> {
        const age = document.getElementById("age").value;
        const ageBox = document.getElementById("ageBox");
        const ageCk = /^[0-9]+$/;
        if(age=="") {
            ageBox.innerHTML="나이를 입력해주세요."
            ageBox.style.color="red"
        }else if(!ageCk.test(age)){
            ageBox.innerHTML="숫자만 입력해주세요"
            ageBox.style.color="red"
        }else{
            ageBox.innerHTML="";
        }
    }

    //전화번호 체크
    const phoneCk = () => {
        const phone = document.getElementById("phone").value;
        const phoneBox= document.getElementById("phoneBox")
        const phoneCk = /\d{3}-\d{4}-\d{4}/;
        if(phoneCk.test(phone)){
            phoneBox.innerHTML="번호 확인했습니다!"
            phoneBox.style.color="green";
        }else{
            phoneBox.innerHTML="010-0000-0000형식에 맞춰주세요."
            phoneBox.style.color="red";
        }

    }
    // 마지막 alert전체 체크
    const memberSave = () => {
        const email = document.getElementById("email").value;
        const pass = document.getElementById("pass").value;
        const age = document.getElementById("age").value;
        const phone = document.getElementById("phone").value;
        const gender = document.getElementById("gender").value;
        const area = document.getElementById("area").value;
        const purpose = document.getElementById("purpose").value;
        const name = document.getElementById("name").value;

        const ckPass = document.getElementById("ckPass").value;
        const ageCk = /^[0-9]+$/;
        const phoneCk = /\d{3}-\d{4}-\d{4}/;


        if(gender =="선택") {
            alert("성별을 선택해주세요.")
        }else if(area=="선택"){
            alert("지역을 선택해주세요.")
        }else if(purpose=="선택"){
            alert("가입목적을 선택해주세요.")
        }else if(name==""){
            alert("성함을 입력해주세요.")
        }else if(email==""){
            alert("이메일을 입력해주세요")
        }else if(pass=="") {
            alert("비밀번호를 입력해주세요")
        }else if(age==""){
            alert("나이를 입력해주세요")
        }else if(phone=="") {
            alert("전화번호를 입력해주세요.")
        }else if(pass!=ckPass) {
            alert("재 입력 비밀번호가 맞지않습니다.")
        }else if(!ageCk.test(age)) {
            alert("숫자만 입력해주세요.")
        }else if(!phoneCk.test(phone)){
            alert("전화번호 형식을 확인해주세요.")
        }else{
            document.memberSaveForm.submit();
        }
    }

</script>
</html>