<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
  <script th:src="@{/js/jqurey.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
    /* 폰트 적용 */
    body {
      font-family: 'Dongle', sans-serif;
      font-size: 30px;
    }
    #memberSaveForm{
        margin-left: auto;
        margin-right: auto;
        font-size:30px;
        width: 800px;
    }
  </style>
</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div class="container mt-5">
    <h2 style="text-align: center">안녕하세요? 반갑습니다. <br> Hi My Buddy에서 <br> 좋은 인연을 <br> 만들고,만들수 있기를 바랍니다. <br> - 관리자 일동</h2>
    <div class="container">
        <form action="/memberSave" method="post" class="form-control mt-5" id="memberSaveForm" name="memberSaveForm" >
            이메일:
            <input type="text" class="form-control mb-3" name="memberEmail" id="email" onblur="emailCk()">
            <span id="emailBox"></span>
            <br>
            비밀번호:
            <input type="text" class="form-control mb-3" name="memberPass" id="pass">
            <span id="passBox"></span>
            <br>
            비밀번호 재확인:
            <input type="text" class="form-control mb-3" id="ckPass" onblur="passCk()">
            <span id="ckPassBox"></span>
            <br>
            성함:
            <input type="text" class="form-control mb-3" name="memberName" id="name" onblur="nameCk()">
            <span id="nameBox"></span>
            <br>
            성별:
            <select name="memberGender" id="gender"  class="form-select mb-3" >
                <option value="선택">선택</option>
                <option value="여성">여성</option>
                <option value="남성">남성</option>
            </select> <br>
            주소:
            <input type="text" id="1" placeholder="우편번호" class="form-control" >
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="form-control"><br>
            <input type="text" id="2" placeholder="도로명주소" class="form-control">
            <input type="text" id="3" placeholder="지번주소" class="form-control">
            <span id="guide" style="color:#999;display:none"></span>
            <input type="text" id="4" placeholder="상세주소" class="form-control">
            <input type="text" id="5" placeholder="참고항목" class="form-control">
            <input type="text" id="memberArea" name="memberArea" hidden>

            <br>
<!--            <select name="memberArea" id="area"  class="form-select mb-3">-->
<!--                <option value="선택">선택</option>-->
<!--                <option value="인천">인천</option>-->
<!--                <option value="서울">서울</option>-->
<!--                <option value="경기">경기</option>-->
<!--            </select> <br>-->
            나이:
            <input type="text" class="form-control mb-3" name="memberAge" id="age" onblur="ageCk()">
            <span id="ageBox"></span>
            <br>
            연락처:
            <input type="text" class="form-control mb-3" name="memberPhone" id="phone" onblur="phoneCk()">
            <span id="phoneBox"></span>
            <br>
            회원가입 목적:
            <select name="memberPurpose" id="purpose" class="form-select mb-3"  >
                <option value="선택">선택</option>
                <option value="아직없어요">아직없어요</option>
                <option value="입양">입양</option>
                <option value="분양">분양</option>
                <option value="임시보호">임시보호</option>
                <option value="반려견분실">반려견분실</option>
            </select> <br>
            <input type="button" class="btn btn-success mt-4" onclick="memberSave()" value="회원가입!">
        </form>
    </div>
</div>
<!--풋터-->
<div style="background-color: #d1f6a7">
    <div class="container" >
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양소식</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양신청</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">분양등록</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">임시보호 소식</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">친구를 찾아요</a></li>
            </ul>
            <p class="text-center text-muted">2022 JinSeok Project </p>
        </footer>
    </div>
</div>
</body>

<script>
    new daum.Postcode({
        oncomplete: function(data) {
            //data는 사용자가 선택한 주소 정보를 담고 있는 객체이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
        }
    });

    //이메일체크
    const emailCk = () => {
        const email = document.getElementById("email").value;
        const emailBox = document.getElementById("emailBox");
        if(email==""){
            emailBox.innerHTML="필수값입니다."
            emailBox.style.color="red"
        }else{
        $.ajax({
            type: "post",
            url: "/memberEmailCk",
            data: {
                memberEmail: email
            },
            dateType: "text",
            success: function (ck) {
                if (ck == "no") {
                    emailBox.innerHTML="이메일 중복입니다."
                    emailBox.style.color="red";
                }else if(ck=="yes"){
                    emailBox.innerHTML="멋진 이메일이네요!"
                    emailBox.style.color="green";
                }
            },
            error: function (ck) {

            }
        })
    }
    }
    // 비밀번호 체크
    const passCk= () => {
        const pass = document.getElementById("pass").value;
        const ckPass = document.getElementById("ckPass").value;
        const ckPassBox = document.getElementById("ckPassBox");
        if(pass!=ckPass){
            ckPassBox.innerHTML="비밀번호가 맞지 않습니다."
            ckPassBox.style.color="red";
        }else if(pass==""){
            ckPassBox.innerHTML="비밀번호는 필수값입니다."
            ckPassBox.style.color="red";
        }else{
            ckPassBox.innerHTML="확인되었습니다."
            ckPassBox.style.color="green";
        }
    }

    //이름체크
    const nameCk = () => {
        const name = document.getElementById("name").value;
        const nameBox = document.getElementById("nameBox");
        if(name==""){
            nameBox.innerHTML="성함은 필수값입니다."
            nameBox.style.color="red";
        }else{
            nameBox.innerHTML="멋진 이름이네요!"
            nameBox.style.color="green";
        }
    }

    //나이체크
    const ageCk = ()=> {
        const age = document.getElementById("age").value;
        const ageBox = document.getElementById("ageBox");
        const ageCk = /^[0-9]+$/;
        if(age=="") {
            ageBox.innerHTML="나이를 입력해주세요."
            ageBox.style.color="red"
        }else if(!ageCk.test(age)){
            ageBox.innerHTML="숫자만 입력해주세요"
            ageBox.style.color="red"
        }else{
            ageBox.innerHTML="";
        }
    }

    //전화번호 체크
    const phoneCk = () => {
        const phone = document.getElementById("phone").value;
        const phoneBox= document.getElementById("phoneBox")
        const phoneCk = /\d{3}-\d{4}-\d{4}/;
        if(phoneCk.test(phone)){
            phoneBox.innerHTML="번호 확인했습니다!"
            phoneBox.style.color="green";
        }else{
            phoneBox.innerHTML="010-0000-0000형식에 맞춰주세요."
            phoneBox.style.color="red";
        }

    }
    // 마지막 alert전체 체크
    const memberSave = () => {
        const email = document.getElementById("email").value;
        const pass = document.getElementById("pass").value;
        const age = document.getElementById("age").value;
        const phone = document.getElementById("phone").value;
        const gender = document.getElementById("gender").value;
        const purpose = document.getElementById("purpose").value;
        const name = document.getElementById("name").value;
        const ckPass = document.getElementById("ckPass").value;
        const ageCk = /^[0-9]+$/;
        const phoneCk = /\d{3}-\d{4}-\d{4}/;

        const post1 =document.getElementById("1").value;
        const post2 = document.getElementById("2").value;
        const post3 =document.getElementById("3").value;
        const post4 =document.getElementById("4").value;
        const post5 =document.getElementById("5").value;
        const post = "("+post1+")"+post2+"-"+post3+"-"+post4+post5;
        document.getElementById("memberArea").value= post;



        if(gender =="선택") {
            alert("성별을 선택해주세요.")
        }else if(purpose=="선택"){
            alert("가입목적을 선택해주세요.")
        }else if(name==""){
            alert("성함을 입력해주세요.")
        }else if(email==""){
            alert("이메일을 입력해주세요")
        }else if(pass=="") {
            alert("비밀번호를 입력해주세요")
        }else if(age==""){
            alert("나이를 입력해주세요")
        }else if(phone=="") {
            alert("전화번호를 입력해주세요.")
        }else if(pass!=ckPass) {
            alert("재 입력 비밀번호가 맞지않습니다.")
        }else if(!ageCk.test(age)) {
            alert("숫자만 입력해주세요.")
        }else if(!phoneCk.test(phone)){
            alert("전화번호 형식을 확인해주세요.")
        }else{
            document.memberSaveForm.submit();
        }
    }

    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('1').value = data.zonecode;
                document.getElementById("2").value = roadAddr;
                document.getElementById("3").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("5").value = extraRoadAddr;
                } else {
                    document.getElementById("5").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }

</script>
</html>