<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
  <script th:src="@{/js/jqurey.js}"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
    /* 폰트 적용 */
    body {
      font-family: 'Dongle', sans-serif;
      font-size: 30px;

    }
  </style>
</head>
<body>
<th:block th:replace="header/header :: header"></th:block>
<div class="container mt-5 mb-5"><h1><strong>마이 페이지</strong></h1></div>
<div class="container mb-5">
<table class="table table-success table-striped" >
  <tr>
    <th>id:</th>
    <td th:text="${member.id}"> </td>
  </tr>
  <tr>
    <th>이메일:</th>
    <td th:text="${member.memberEmail}"></td>
  </tr>
  <tr>
    <th>이름:</th>
    <td th:text="${member.memberName}"></td>
  </tr>
  <tr>
    <th>나이:</th>
    <td th:text="${member.memberAge}"></td>
  </tr>
  <tr>
    <th>지역:</th>
    <td th:text="${member.memberArea}"></td>
  </tr>
  <tr>
    <th>연락처:</th>
    <td th:text="${member.memberPhone}"></td>
  </tr>
  <tr>
    <th>가입날짜:</th>
    <td th:text="*{#temporals.format(member.memberSaveTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
  </tr>
  <tr>
    <th>성별:</th>
    <td th:text="${member.memberGender}"></td>
  </tr>
  <tr>
    <th>회원가입의 목적:</th>
    <td th:text="${member.memberPurpose}"></td>
  </tr>
  <div th:if="${dog}">
<!--    <tr th:if="${dog.fileAttached == 1}">-->
    <tr>
      <th>친구 사진:</th>
      <td><img th:src="@{|/upload/${dog.storedFileName}}" alt="" width="200" height="200"></td>
    </tr>
<!--    <tr th:unless="${dog.fileAttached == 0}">-->
<!--      <th>친구 사진:</th>-->
<!--      <td>등록된 사진이 없어요!</td>-->
<!--    </tr>-->
    <tr>
      <th>친구의 이름:</th>
      <td th:text="${dog.dogName}"></td>
    </tr>
    <tr>
      <th>친구의 종:</th>
      <td th:text="${dog.dogSpecies}"></td>
    </tr>
    <tr>
      <th>친구의 나이:</th>
      <td th:text="${dog.dogAge}"></td>
    </tr>
    <tr>
      <th>친구의 몸무게:</th>
      <td th:text="${dog.dogWeight}"></td>
    </tr>
  </div>
  <div th:unless="${dog}">
  <tr>
    <th>반려 친구</th>
    <td><h2>현재 등록된 반려 친구가 없습니다.</h2></td>
  </tr>
  <tr>
    <th>반려견 등록</th>
    <td><a href="/dogSave" class="btn btn-success">등록하기!</a></td>
  </tr>
  </div>

</table>
</div>
<div style="background-color: #d1f6a7">
  <div class="container mt-5" >
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양소식</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">입양신청</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">분양등록</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">임시보호 소식</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">친구를 찾아요</a></li>
      </ul>
      <p class="text-center text-muted">2022 JinSeok Project </p>
    </footer>
  </div>
</div>
</body>
</html>